---
import { t } from 'i18n:astro'
// import { URL } from '@data/constants'
import Layout from '@layouts/Layout.astro'
import About from '@pages/_home/About.astro'
import Contact from '@pages/_home/Contact.astro'
import Contributions from '@pages/_home/Contributions.astro'
import Experience from '@pages/_home/Experience.astro'
import Hero from '@pages/_home/Hero.astro'
import Projects from '@pages/_home/Projects.astro'
import OpenGraph from '@components/OpenGraph.astro'

const options = {
  title: t('common:title'),
  description: t('common:description')
}

// Cambiar a true para mostrar la sección de experiencia cuando tenga algo hecho
const showExperience = false

// Cambiar a true para mostrar la sección de conrtibuciones cuando haya hecho algunas
const showContribution = false
---

<Layout options={options}>
  <OpenGraph information={options} image=`/og/preview.png` />

  <main>
    <Hero />
    {showExperience && <Experience />}
    <Projects />
    {showContribution && <Contributions />}
    <About />
    <Contact />
  </main>
</Layout>

<style>
  main {
    max-width: 1054px;
    margin-inline: auto;
    padding-inline: var(--mobile-inline-padding);

    @media (width >= 1200px) {
      padding-inline: 0;
    }
  }
</style>
